// PATRON DE COLORES
$primary: #004643;
$secondary: #c2e7c9;
$dark: #495057;

// TIPOGRAFIA
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
$font-family-sans-serif: 'Poppins', sans-serif;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// CUSTOM CSS
#inicio {
  background-image: url('/images/Background5.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

#inicioNombre {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
}

.indicadorNumero {
  font-size: 7rem;
}

//FIREFOX
.tablaInicio {
  overflow-y: scroll;
  scrollbar-color: #004643 white;
  scrollbar-width: thin;
  height: 300px;
  td {
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: auto;
}
::-webkit-scrollbar-thumb {
  background-color: #004643;
  border-radius: 5px;
}
