//////// PATRON DE COLORES ////////
$primary: #004643;
$secondary: #c2e7c9;
$dark: #495057;

//////// TIPOGRAFIA ////////
$font-family-sans-serif: "Poppins", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

//////// CUSTOM CSS ////////
#inicio {
  background-image: url("../images/Background3.svg");
  background-repeat: no-repeat;
  background-size: 1440px 1024px;
  background-position-x: center;
  background-position-y: center;
}

#inicioNombre {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
}

#numero {
  font-size: 90px;
}
